fastapi==0.110.2
uvicorn[standard]==0.29.0
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic-settings==2.2.1
aiofiles==23.2.1
unstructured==0.13.2
pdfminer.six==20221105
pillow-heif==0.22.0
pdf2image==1.16.3
opencv-python-headless==4.9.0.80
openai==1.90.0
chromadb==1.0.13
numpy==1.26.4
networkx==3.2.1
pandas==2.2.2
pytesseract==0.3.10
unstructured-inference==0.7.16
pikepdf==8.10.0
pypdf==4.2.0
